
$--color-primary:#6287fd;
$--color-primary:#3c8dbc;
$--color-success: #1ab394;
$--color-warning: #f8ac59;
$--color-danger: #ef6776;

$--button-font-weight: 400;
$--border-color-light: #dfe6ec;
$--border-color-lighter: #dfe6ec;
$--table-border:1px solid #dfe6ec;
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";
:export {
  theme: $--color-primary;
}
