// base color
$blue:#324157;
$light-blue:#6287fd;
/* $light-blue:#3c8dbc; */
$red:#C03639;
$pink: #E65D6E;
$green: #76cf69;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

// sidebar
$menuText:#a7b1c2;
$menuActiveText:#fff;
$subMenuActiveText:#fff;

$menuBg:#304156;
$menuHover:#263445;
$subMenuBg:#1f2d3d;
$subMenuHover:#001528;
$sideBarWidth: 200px;


:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
